footer {
  width: 100%;
  display: flex;
  align-items: center;

  .footer {
    .footer-left-container {
      position: absolute;
      left: 0;
      width: 50%;
      height: 80px;
      background-color: $main;

      img {
        height: 60px;
        margin: 10px 10%;
      }
    }
  }

  nav {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    width: 50%;
    background-color: $main;



    a {
      padding: 0 35px;
      text-decoration: none;
      color: $white;
    }

    a:hover {
      color: $accent;
      text-decoration: none;
    }
  }
}
