header {
  width: 100%; height: $header-height;
  position: fixed;
  top: 0;
  z-index: 1;

  .header {
    height: 100%;

    .header-left-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 60%; height: 100%;
      position: relative;
      background-color: $main;
      border-bottom-right-radius: 10px;

      img {
        height: 90%;
        margin: 0.5% 5%;
      }

      .header-info-container {
        display: flex;
        width: 60%; height: 35px;
        position: absolute;
        bottom: 0%; right: 0;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        background-color: $accent;
        align-items: center;
        justify-content: center;
        font-variant: small-caps;
        font-size: 1.1em;
      }
    }
  }

  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%; height: 45px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: $main;

    a {
      padding: 0 35px;
      text-decoration: none;
      color: $white;
    }

    a:hover {
      color: $accent;
    }
  }

}
