// colors
$black: #111;
$white: #fff;
$dark-grey: #222;
$light-grey: #555;

$main: #06a77d;
$second: #2e3841;
$accent: #f29559;
$text-dark: $black;
$text-bright: $white;

// screen widths
$small: 450px;
$medium: 800px;
$large: 1200px;

// dimensions
$header-height: 80px;
$header-height-mobile: 60px;

@font-face {
  font-family: bitcrusher;
  src: url(fonts/bitcrusher-condensed-bold.tff);
}
