
@media screen and (min-width: $large) {
  main {
    margin: 0px 0px 50px 0px;
    padding-top: $header-height - 35px;


    ul {
      padding-left: 25px;

    }

    .site-cover {
      height: 100%; width: 100%;
      background: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0)), url("/images/cm2.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      overflow-x: hidden;

      .site-cover-title {
        position: relative;
        top: 20%; left: 10%;
        color: $white;

        h1 {
          font-size: 75px;
          margin-bottom: 8%;
        }

        h2 {
          font-size: 30px;
        }
      }
    }

    .wrapper {
      display: flex;
      justify-content: space-between;
      margin: 80px;


      .content-heading {
        padding-top: $header-height + 15px;
        margin-left: 5%;
      }

      .info {
        background-color: $white;
        align-self: flex-start;
        position: sticky;
        top: 100px;
        margin-top: 165px;
      }

      .box {
        margin: 0px auto;
        padding: 25px 5%;
      }

      .box.light {
          background-color: $white;
          color: $black;
          border: 2px solid $accent;
          border-radius: 10px;
          box-shadow: none;
          padding: 0px 5%;
      }
    }
  }
}








@media only screen and (min-width: $medium) {
  // For desktop:
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
