@import "partials/vars";
@import "partials/header";
@import "partials/footer";
@import "mobile";
@import "desktop";

/*@font-face {
  font-family: Bitcrusher;
  src: url(fonts/bitcrusher-condensed-bold.tff);
}*/

html, body, main {
  height: 100%;
  margin: 0;
  background-color: $white;
  color: $black;
  font-family: sans-serif;

  p {
    line-height: 1.5;
    text-align: justify;
    hyphens: auto;
  }

  a {
    line-height: 1.5;
    color: $accent;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .site-cover-title {
    color: $white;
    //font-family: Bitcrusher;
  }

  .box {
    background-color: $second;
    color: $white;
    box-shadow: 0px 15px 25px -10px $black;
    border-radius: 10px;
  }
}
