

/*
@media only screen and (min-width: $small) {
  // For tablets:
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
*/

@media screen and (max-width: $large) {
  div[class*="col-"] {
    width: 100%;
  }

  header {
    height: $header-height-mobile;
    //z-index: 1;

    .header {
      .header-left-container {
        width: 100%; height: $header-height-mobile;
        border-bottom-right-radius: 10px;

        img {
          height: 50px;
          margin: 5px 15px
        }

        div.header-info-container {
          width: 75%;
        }
      }
    }

    nav {
      display: none;
    }
  }

  body {
    main {

      div.site-cover {
        background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.0)), url("/images/cm1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
		height: 100vh; /* fallback for browsers not supporting custom properties*/
        height: calc((var(--vh, 1vh) * 100) - #{$header-height-mobile});
        display: flex;
        align-items: center;

        .site-cover-title {
          max-height: 100vh; /* fallback for browsers not supporting custom properties*/
		  max-height: calc((var(--vh, 1vh) * 100) - #{$header-height-mobile});
          overflow: hidden;
          margin: auto 5%;
          display: flex;
          flex-direction: column;

          h1 {
            margin-top: $header-height-mobile;
            font-size: 50px;

          }
          h2 {
            font-size: 30px;

          }

        }
      }

      div.wrapper {
        margin-left: 5px;
        margin-right: 5px;

        .content-heading {
          padding-top: $header-height-mobile + 20px;
        }
        .info {
          display: none;
        }
        .box {
          margin: 0px auto;
          padding: 15px;
        }
      }
    }

    footer {
      nav {
        width: 75%;

        a {
          padding: 0px 10px 0px 0px;
        }
      }
    }
  }

}

@media screen and (max-width: $medium) {
  main {
    div.wrapper {
      margin: 50px 10px;
    }

    ul {
      padding-left: 0px;
    }
    li {
      list-style-type: none;
    }
  }
}
