<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <title>{{ .Site.Title }}</title>
    <meta charset="utf-8">
    <meta name="langauge" content="de">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/png" href="/favicon.ico">

    {{ block "style" . }} {{ end }} <!-- Get "style_opts variable from "styles" block -->
	{{ block "script" . }} {{ end }}


	{{ if .Site.Params.matomo }}
	<!-- Matomo -->
	<script>
	  var _paq = window._paq = window._paq || [];
	  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
	  _paq.push(['trackPageView']);
	  _paq.push(['enableLinkTracking']);
	  (function() {
	    var u="{{ .Site.Params.matomo }}/";
	    _paq.push(['setTrackerUrl', u+'matomo.php']);
	    _paq.push(['setSiteId', '1']);
	    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
	  })();
	</script>
	<noscript><p><img src="{{ .Site.Params.matomo }}/matomo.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></p></noscript>
	<!-- End Matomo Code -->


	{{ end }}

  </head>
  <body>
    <header>
      {{ partial "header.html" . }}
    </header>


    <main>
      {{ block "main" . }} {{ end }}
      <footer>
        {{ partial "footer.html" . }}
      </footer>
    </main>



  </body>


</html>
