<div class="footer">
  <div class="footer-accent">
  </div>
  <div class="footer-left-container">
    <img src="images/header-logo.png">
  </div>
  <nav>
      {{ range .Site.Menus.main }}
        <a href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
  </nav>
</div>
