<div class="header">
  <div class="header-left-container">
  <a href="/"><img src="images/header-logo.png"></a>

    <div class="header-info-container">
      {{ .Site.Params.time }}
    </div>
  </div>
  <nav class="nav">
      {{ range .Site.Menus.main }}
        <a href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
  </nav>
  <div class="header-accent">
  </div>
</div>
