{{ define "style" }}
  <!--{{ $.Scratch.Set "style_opts" (dict "src" "scss/index.scss" "dest" "css/index.css") }}-->
  {{ $style := resources.Get "scss/main.scss" | resources.ToCSS }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "script" }}
	{{ $js := resources.Get "js/mobile.js" | js.Build }}
	<script type="text/javascript" src="{{ $js.Permalink }}"></script>
{{ end }}

{{ define "main" }}
<div class="site-cover">
  <div class="site-cover-title">
    <h1>{{ .Site.Title }}</h1>
    <h2>{{ .Site.Params.time }} - {{ .Site.Params.clock }}</h2>
    <h2>{{ .Site.Params.place }}</h2>
  </div>
</div>

<div class="wrapper">
  <div class="content col-8">
      <h2 id="criticalmass" class="content-heading">Was ist die Critical Mass?</h2>
    <div class="box">
      {{ range .Site.Pages }}
        {{ if eq .Params.homepage "general" }}
          <p>{{ .Content }}</p>
        {{ end }}
      {{ end }}
    </div>
    <h2 id="regeln" class="content-heading">Verhaltensregeln</h2>
    <div class="box">
      {{ range .Site.Pages }}
        {{ if eq .Params.homepage "rules" }}
          <p>{{ .Content }}</p>
        {{ end }}
      {{ end }}
    </div>
    <h2 id="criticalmaps" class="content-heading">Critical Maps</h2>
    <div class="box">
      <div style="display:flex; justify-content:space-around">
         <img src="logo-dark.svg" alt="Critical Maps" width="150px" height="auto" style="margin-right:30px"><p style="text-align:left">Du möchtest mitfahren, schaffst es aber nicht ganz pünktlich? Lad dir die <a href="https://www.criticalmaps.net/" target="_blank" rel="noopener noreferrer">Critical Maps-App</a> runter und schau, wo wir gerade sind!</p>
      </div>
    </div>
    <h2 id="local-links" class="content-heading">Fahrrad fahren in {{ .Site.Params.contact_city}}</h2>
    <div class="box">
      {{ range .Site.Pages }}
        {{ if eq .Params.homepage "links" }}
          <p>{{ .Content }}</p>
        {{ end }}
      {{ end }}
    </div>
    <h2 id="regeln" class="content-heading">Kontakt</h2>
    <div class="box">
      <div class="social">
        <p>Made by <a href="https://codeberg.org/Netzkollektiv" target="_blank">Netzkollektiv</a> with hugo using the self-written <a href="https://codeberg.org/Netzkollektiv/hugo-theme-critical" target="_blank">"Critical"</a> theme.<br>Wanna join making this site better? Contribute to this site and the corresponding theme on <a href="{{ .Site.Params.opensource_link }}" target="_blank" rel="noopener noreferrer">{{ .Site.Params.opensource_host }}</a>!</p>
        <p>🚧 Currently under heavy construction.</p>
        <p>DIESE SEITE DIENT AUSSCHLIEßLICH DEM PRIVATEN GEBRAUCH ZU ANSCHAUUNGSZWECKEN!</p>
      </div>
      <!--<p>{{ .Site.Params.contact_name }}</p>
      <p>{{ .Site.Params.contact_street }}</p>
      <p>{{ .Site.Params.contact_city }}</p>-->
    </div>
  </div>
  <div class="info col-3">
    <div class="box light">
      <h2>{{ .Site.Title }}</h2>
      <h3>Wann?</h3>
      <ul>
        <p>📅 {{ .Site.Params.time }}</p>
        <p>⏰ {{ .Site.Params.clock }}</p>
      </ul>
      <h3>Wo?</h3>
      <ul>
        <p>📍 {{ .Site.Params.place }}</p>
      </ul>
      <iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ .Site.Params.place_osm | safeHTML }}" style="border: 1px solid black; border-radius: 10px; margin-bottom: 10px"></iframe>
      <p>Du möchtest mitfahren, schaffst es aber nicht ganz pünktlich? Lad dir die <a href="https://www.criticalmaps.net/" target="_blank" rel="noopener noreferrer">Critical Maps-App</a> runter und schau, wo wir gerade sind!</p>
    </div>
  </div>
</div>
{{ end }}
